
/**
 * Отображение цен
 */
.sx-second-price {
    color: #8a8a8a;
}

.sx-old-price {
    /*text-decoration: line-through;*/
    position: relative;
    color: #8a8a8a;
}

.sx-price-info {
    /*text-decoration: line-through;*/
    color: #8a8a8a;
    margin-left: 5px;
}

.sx-old-price:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.sx-new-price {
    font-weight: 600;
}

/**
 * Одинаковая высота товаров в слайдере
 */
.sx-products-stick .slick-track {
    display: flex;
}

/**
 * Количество + и -
 */
.sx-quantity-group div {
    border-bottom: 1px solid #ddd !important;
    height: 36px;
    font-size: 22px;
}

.sx-quantity-group .sx-quantity-input {
    background: none;
    max-width: 100px;
    text-align: center;
    border: none;
    padding: 2px 0px;
    color: black;
    font-size: 20px;
}

.sx-quantity-group .sx-minus, .sx-quantity-group .sx-plus {
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
}
.sx-quantity-wrapper .sx-measure-symbol {
    margin-left: 10px;
}

/**
 * Оформление продуктовых слайдеров
 */
.sx-products-slider-wrapper .sx-products-slider--title {
    text-align: center;
}

/**
 * Доработки корзины
 */
.sx-js-cart .sx-total-quantity, .sx-js-cart .sx-total-money {
    display: none;
}
.sx-js-cart.sx-is-full-cart .sx-total-quantity, .sx-js-cart.sx-is-full-cart .sx-total-money {
    display: inline;
}

@media (max-width: 768px) {
    .sx-js-cart.sx-is-full-cart .sx-total-money {
        display: none;
    }
}


/**
 * Это вынести в отдельный файл позже
 */

.sx-saved-filters-list--before ul {
    display: flex;
     flex-wrap: wrap;
}
.sx-saved-filters-list--before .list-inline-item a {
    display: inline-flex;
    min-height: 100%;
    min-width: 170px;
    overflow: hidden;
}

.sx-saved-filters-list--before .sx-img-wrapper {
    margin-right: 5px;
}
.sx-saved-filters-list--before .sx-img-wrapper img {
    width: 50px;
    height: 50px;
}
.sx-saved-filters-list--before .sx-info-wrapper {
    text-align: left;
    line-height: 1.2;
}
.sx-saved-filters-list--before .sx-info-wrapper .sx-title {
    white-space: nowrap;
}

.sx-mobile-layout .sx-saved-filters-list--before li {
    display: inline-block;
    width: 100%;
    margin-right: 0;
}
.sx-mobile-layout .sx-saved-filters-list--before .list-inline-item a {
    width: 100%;
}

.sx-catalog-wrapper {
    min-height: 600px;
}