/**
 * Карточка товара
 */
.sx-product-page-wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
}

.sx-main-product-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sx-product-page-wrapper .sx-stick-slider {
    margin: 10px;
}

.sx-product-page-wrapper .sx-stick-navigation .js-slide {
    cursor: pointer;
    border: none;
    margin: 0 0px;
    position: relative;
}

.sx-product-page-wrapper .sx-stick-navigation .slick-current:before {
    border: 1px solid #d2d2d2;
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*border: 1px solid rgba(21,146,165,0);*/
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.sx-product-page-wrapper .sx-stick-navigation .slick-slide {
    opacity: .6;
}

.sx-product-page-wrapper .sx-stick-navigation .slick-current,
.sx-product-page-wrapper .sx-stick-navigation .slick-slide:hover {
    opacity: 1;
}

.sx-product-page-wrapper .sx-stick-navigation {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sx-product-page-wrapper .sx-stick-navigation .js-slide {
    padding: 5px;
}


.sx-product-page-wrapper .sx-description-short p {
    margin-bottom: 0;
}

.sx-product-page-wrapper .product-control {
    display: flex;
}

.sx-product-page-wrapper .availability-row {
    text-align: center;
    color: #3b3937;
    font-size: .8125rem;
    line-height: 22px;
}


/**
 * Маленькие табы в товаре
 */
.sx-product-page-wrapper .sx-product-delivery-info .tab-pane {
    background: #fafafa;
    padding: 20px;
}

.sx-product-page-wrapper .sx-product-delivery-info .tab-pane p {
    margin-bottom: 5px;
    font-size: 13px;
}


.sx-product-info-wrapper .nav-item {
    font-size: 25px;
}

.sx-product-info-wrapper .nav-link.active {
    font-weight: bold;
}


.sx-order-items .sx-order-item {
    padding: 10px;
}

.sx-order-item-properties p {
    margin-bottom: 0px;
}

.btn-select-option {
    color: #333;
    border-color: #333;
    background-color: transparent;
    border: 1px solid;
}

.btn-select-option .sx-no-check {
    opacity: 0.5;
}

.btn-select-option:hover .sx-no-check {
    opacity: 1;
}

.btn-select-option:focus, .btn-select-option.active {
    color: #fff;
    background-color: #333;
}

.btn-select-option:hover {
    color: #fff;
    background-color: #333;
}


.sx-stick-slider .slick-slide {
    text-align: center;
}

.sx-stick-slider .slick-slide img {
    display: inline;
    margin: auto;
}


/**
 * Рейтинги звездочки
 */
.product-rating .rating-container .rating {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.rating-container .rating {
    cursor: default;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.product-rating .rating-container .rating .empty-stars .star {
    background-image: url("../images/star-empty.svg");
}

.product-rating .rating-container .rating .filled-stars .star {
    background-image: url(../images/star-fill.svg);
}

.product-rating .rating-container .rating .star {
    width: 11px;
    min-width: 11px;
    height: 10px;
    cursor: default;
    margin: 0 1px;
}

.rating-container .star {
    display: inline-block;
    margin: 0 3px;
    text-align: center;
}


.product-rating .rating-container .rating [class*="-stars"] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    cursor: default;
}

.rating-animate .filled-stars {
    transition: width 0.25s ease;
    -o-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
}

.rating-container .filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: #fde16d;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 1px #777;
    text-shadow: 1px 1px #999;
}

.rating-container .filled-stars {
    color: #fa6;
    -webkit-text-stroke: unset;
    text-shadow: 0 0 1px #000;
}

.product-info-header .topmost-row .product-rating {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.product-rating {
    font-size: .5rem;
    height: 22px;
    line-height: 1.375rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.sx-products-slider-section {
    padding-top: 20px;
}

/**
 * Современное оформление свойств
 */
.sx-properties-wrapper.sx-columns-1 ul.sx-properties {
    -moz-column-count: 1;
    column-count: 1;
}

.sx-properties-wrapper.sx-columns-2 ul.sx-properties {
    -moz-column-count: 2;
    column-count: 2;
}

.sx-properties-wrapper.sx-columns-3 ul.sx-properties {
    -moz-column-count: 1;
    column-count: 1;
}

ul.sx-properties {
    -moz-column-count: 2;
    column-count: 2;
    grid-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    margin: 0px;
    padding: 0px;
}

ul.sx-properties li {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 12px;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

ul.sx-properties .sx-properties--value {
    text-align: right;
    max-width: 200px;
}

ul.sx-properties .sx-properties--name {
    color: #93989d;
    flex: 1;
    display: flex;
    align-items: baseline;
    white-space: nowrap;
}

ul.sx-properties .sx-properties--name:after {
    content: "";
    flex-grow: 1;
    opacity: .25;
    margin: 0 6px 0 2px;
    border-bottom: 1px dotted #4b545b;
}


/**
 * Настройка аккардиона на товарной странице
 */
.sx-product-info-accordion .card {
    border-radius: 0;
    margin-bottom: 10px;
}

.sx-product-info-accordion .card-header {
    padding: 0;
}

.sx-product-info-accordion .card-header a {
    width: 100%;
    display: block;
    padding: 5px 10px;
    margin: 0;
}

.sx-product-info-accordion .card-header a i {
    margin-top: 5px;
}

.sx-product-info-accordion .card-header a:hover {
    text-decoration: none;
}


/**
 * Правки в минималистичный шаблон
 */
.sx-minimal-page .sx-product-info-accordion .card {
    border-radius: 0;
    margin-bottom: 0;
    border: none;
}

.sx-minimal-page .card-body .table {
    margin: 0;
}

.sx-minimal-page .card-header {
    background: transparent;
    border: 0px;
}

.sx-minimal-page .sx-product-info-accordion .h2, .sx-minimal-page .sx-product-info-accordion h2 {
    font-size: 1.6rem;
}


.sx-minimal-page .sx-product-info-accordion .card-header a {
    padding: 5px 0;
}

.sx-minimal-page .sx-product-info-accordion .card-body {
    padding: 10px 0;
}


/**
 * Правки в мобильную версию
 */
.sx-mobile-product-page .sx-product-page-wrapper {
    padding-top: 5px;
    padding-bottom: 0;
}

.sx-mobile-product-page .sx-right-product-info {
    margin-bottom: 10px;
    background: #fafafa;
    padding: 10px;
}

.sx-mobile-product-page .sx-col-product-info {
    padding-left: 5px;
    padding-right: 5px;
}


/**
 * На детальной странице переопределение стилей вставленных заголовков
 */
.sx-product-description h1, .sx-product-description .h1, .sx-product-description h2, .sx-product-description .h2, .sx-product-description h3, .sx-product-description .h3, .sx-product-description h4, .sx-product-description .h4, .sx-product-description h5, .sx-product-description .h5, .sx-product-description h6, .sx-product-description .h6 {
    font-size: 1rem !important;
    line-height: 1 !important;
}